.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
  
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}
  
.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
  
.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}
  
.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
 
@font-face {
    font-family: "Mazius Display Regular";
    src: url("/Volumes/Savekeeper/LISAA/2021:2022/Cours/3_Typo/CODE copie/portfolio/fonts/MaziusDisplay-Regular.woff2") format("woff2");
    font-weight: initial;
}

@font-face {
    font-family: "Mazius Display Bold";
    src: url("/Volumes/Savekeeper/LISAA/2021:2022/Cours/3_Typo/CODE copie/portfolio/fonts/MaziusDisplay-Bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Mazius Display Italic";
    src: url("/Volumes/Savekeeper/LISAA/2021:2022/Cours/3_Typo/CODE copie/portfolio/fonts/MaziusDisplay-Extraitalic.woff2") format("woff2");
    font-weight: lighter;
}

@font-face {
    font-family: "Mazius Display Italic Bold";
    src: url("/Volumes/Savekeeper/LISAA/2021:2022/Cours/3_Typo/CODE copie/portfolio/fonts/MaziusDisplay-ExtraItalicBold.woff2") format("woff2");
    font-weight: bolder;
}

.maziusregular {
    font-family: 'Mazius Display Regular';
}

.maziusbold {
    font-family: 'Mazius Display Bold';
}

.maziusitalic {
    font-family: 'Mazius Display Italic';
}

.maziusbolder {
    font-family: 'Mazius Display Italic Bold';
}

.fontsize40 {
    font-size: 2.5em;
}

.fontsize32 {
    font-size: 2em;
}

.fontsize24 {
    font-size: 1.5em;
}

.fontsize16 {
    font-size: 1em;
}

.fontsize14 {
    font-size: 0.875em;
}

.fontsize12 {
    font-size: 0.75em;
}

/*Mobile*/
.context {
        text-align: right;
        width: 140px;
 }

/*Desktop*/
@media (min-width:900px){
    .context {
        text-align: right;
    }
}

.bgcolor {
    background-color: #F3F3F3;
}

.bodyspace {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.projectcontainer {
    display: flex;
    justify-content: center;
    max-width: 45rem;
    min-width: 21.438rem;
}

.project {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    row-gap: 1rem;
}

.projectproperties {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

/*Mobile*/
.headercontainer {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: -1rem;
    padding-left: 0.125rem;
}

/*Tablet*/
@media (min-width:600px) {
    .headercontainer {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        row-gap: -1rem;
        padding-left: 0.125rem;
    }
}

/*Desktop*/
@media (min-width:900px) {
    .headercontainer {
        margin-left: 23.75rem;
        margin-right: 23.75rem;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        row-gap: -1rem;
        padding-left: 0.125rem;
    }
}

.introcontainer {
    padding-top: 1rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
}

/*Mobile*/
.sectioncontainer {
    margin-left: 1rem;
    margin-right: 1rem;
}

/*Tablet*/
@media (min-width:600px){
    .sectioncontainer {
        margin-left: 1.5rem; 
        margin-right: 1.5rem; 
    }
}

/*Desktop*/
@media (min-width:900px){
    .sectioncontainer {
        margin-left: 23.75rem; 
        margin-right: 23.75rem;
    }
}

/*Mobile*/
.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

/*Desktop*/
.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.imagecontainer {
    width: 100%;
}

.videocontainer {
    border-radius: 8px;
}

/*Mobile*/
.tagsrow {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

/*Desktop*/
@media (min-width:900px) {
    .tagsrow {
        display: flex;
        flex-direction: row;
        column-gap: 0.25rem;
    }
}

.tagui {
    background-color: #DFCCFF;
    text-decoration-color: #16003C;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: fit-content;
}

.taggraph {
    background-color: #BEFFC7;
    text-decoration-color: #003107;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: fit-content;
}

.tagvideo {
    background-color: #BFDCFF;
    text-decoration-color: #001328;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: fit-content;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    border-radius: 8px;
    border-width: 2px;
    border-color: #DFCCFF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 4px;
}